<div class="content" role="main">

  <ngx-charts-line-chart
    [view]="view"
    [animations]="true"
    [scheme]="colorScheme"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [showGridLines]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="true"
    [results]="multi"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>

</div>
